venv/
__pycache__/
*.pyc
ecopulse.db
.pytest_cache/
no sé.txt

# --- GENERAL ---
.DS_Store
.vscode/
.idea/
# --- PYTHON / BACKEND ---
backend/venv/
backend/__pycache__/
backend/*.py[cod]
backend/.env
backend/*.db
backend/*.sqlite3
# --- FLUTTER / MOBILE ---
mobile/src/.dart_tool/
mobile/src/.flutter-plugins
mobile/src/.flutter-plugins-dependencies
mobile/src/.pub-cache/
mobile/src/.pub/
mobile/src/build/
mobile/android/local.properties
mobile/ios/Flutter/Generated.xcconfig
